@charset "UTF-8";

@media  screen and (min-width:768px) and (max-width:992px) {
    body {  
        background-image: linear-gradient(to top,#49a09d, #5f2c82);
    }

    section#login { 
        width: 80vw;
    }
    section#login > div#imagem {    
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login div#form {    
        float: right;
        width: 70%;
    }
    div#form h1 {   
        text-align: center;
        margin-bottom: 10px;
    }
    
    div#form p {    
        font-size: 1em;
        text-align: justify;
        padding: 5px;
    }
}


@media screen and (min-width:992px) {
    body {  
        background-image: linear-gradient(to top,#49a09d, #5f2c82);}

    section#login { 
        width: 980px;
    }    
    
    section#login > div#imagem {
        width: 40%;
        height: 100%;
        float: right;
    }

    section#login > div#form { 
        width: 60%;
        float: left ;
    }
    div#form h1 {  
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#form p {    
        font-size: 1.2em;
        text-align: justify;
        padding: 5px;
    }
    }

